*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/5.jpg') ;
    background-size: contain;
    font-family: 'PT Mono', monospace; 
    
}

.debug{
    height: 1000px;
}

.ticket{
    height: 100vh;
}

h2{
    font-size: 24px;
    vertical-align: middle;
    /* line-height: 100%; */
    margin-bottom: 0;
}

.prezzo{
    width: 255px;
    height: 85px ;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 50%);
}


#prezzofinale::after{
    content: '€';
    font-size: larger;
}

