*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/5.jpg') ;
    background-size: contain;
    font-family: 'PT Mono', monospace; 
    
}

.debug{
    height: 1000px;
}

.ticket{
    height: 100vh;
}

.prezzo{
    max-width: 255px;
    max-height: 86px ;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 50%);
}


#prezzofinale::after{
    content: '€';
}

